.container {
    display: flex;
    gap: 30px;
  }
  
  .card {
    background-color: #03bcf4;
    height: 200px;
    width: 200px;
    flex: 1;
    border-radius: 16px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card:hover {
    flex: 2;
    background-color: #fff;
  }